body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffaaa5;
    color: #698474;
}
header{
    background-color: #ffd3b6;
    border-radius: 15px;
    padding-left: 3.5em;
    margin-right: 70%;
}

h2{
    padding-top: 3em;
    padding-left: 3.5em;
    text-decoration: underline;
}

.containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    padding: 3%;
    border-radius: 8px;
}
article:hover{
    box-shadow: 0px 0px 40px 0px green;
}
select{
    margin-left: 2%;
}